<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Contributors</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/contributors/new">Create a new Contributor</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>List of Contributors</h2>
      <ul>
        <% for(let i = 0; i < contributors.length; i++){ %>
          <li>
          <a href="/contributors/<%=contributors[i]._id%>"><%=contributors[i].name%></a>
          </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
