<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Contributors</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/contributors/new">Create a new Contributor</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
