<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Show Page for <%=contributor.name%></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/contributors">Contributor Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Contributor Attributes:</h2>
        <ul>
          <li>Name: <%=contributor.name%></li>
        </ul>
      </section>
      <section>
        <a href="/contributors/<%=contributor.id%>/edit">Edit this Contributor</a>
      </section>
      <section>
        <form action="/contributors/<%=contributor.id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete this Contributor"/>
        </form>
      </section>
    </main>
  </body>
</html>
